/* Default styles */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: linear-gradient(106.5deg, rgba(255, 215, 185, 0.91) 23%, rgba(223, 159, 247, 0.8) 93%);
    color: #030303;
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #030303;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: linear-gradient(106.5deg, rgba(255, 215, 185, 0.91) 23%, rgba(223, 159, 247, 0.8) 93%);
}

header h1 {
    font-size: 48px;
    color: #030303;
}

a {
    color: #030303;
    text-decoration: none;
}

a:hover {
    color: hotpink;
}

p {
    font-size: 20px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50vh;
}

.column {
    flex: 1;
    padding: 5px;
}

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: #f8f9fa;
    /* Bootstrap light color */
    color: #030303;
}

footer h2 {
    font-size: 20px;
}

/* Dark mode styles */
body.dark-mode {
    background: linear-gradient(106.5deg, rgba(40, 40, 40, 0.91) 23%, rgba(20, 20, 20, 0.8) 93%);
    color: #f0f0f0;
}

body.dark-mode header {
    background: linear-gradient(106.5deg, rgba(40, 40, 40, 0.91) 23%, rgba(20, 20, 20, 0.8) 93%);
    color: #f0f0f0;
}

body.dark-mode header h1 {
    color: #f0f0f0;
}

body.dark-mode a {
    color: #f0f0f0;
}

body.dark-mode .btn-primary {
    background-color: #555;
    border-color: #444;
}

body.dark-mode .btn-primary:hover {
    background-color: #666;
    border-color: #555;
}

body.dark-mode footer {
    background-color: #333 !important;
    color: #f0f0f0;
}

/* Hide sun icon by default */
.dark-mode .fa-sun {
    display: none;
}

/* Show sun icon in light mode */
.dark-mode .fa-sun {
    display: inline-block;
}

/* Hide moon icon by default */
.dark-mode .fa-moon {
    display: inline-block;
}

/* Show moon icon in dark mode */
.dark-mode .fa-moon {
    display: none;
}

@media (max-width: 768px) {
    header h1 {
        font-size: 36px;
    }

    header nav ul {
        flex-direction: column;
        gap: 10px;
    }

    .major-project img {
        width: 80%;
    }

    .other-projects section {
        flex: 1 1 100%;
    }

    .center {
        width: 80%;
    }
}